extends layout

block append meta
  meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

block append scripts
  script.
    var wise_guy = #{wise_guy};

    function setMarker(coordinate, map) {
      var marker = new google.maps.Marker({
        position: coordinate,
        map: map,
        animation: google.maps.Animation.DROP,
        title: "Test"
      });

      var date = new Date(#{checkin.createdAt * 1000});
      var dateString = date.toDateString() + " " +
        date.getHours() + ":" + date.getMinutes();

      var content = "<div id='balloon'>" +
        "<a class='locationLink' href='#{checkin.venue.url}'>" +
        "<h1 class='locationTitle'>#{checkin.venue.name}</h1></a>" +
        "<div class='time'><p><span class='label'>Last seen here</span>: " +
          dateString + "</p></div>"
        "</div>";

      var infoBubble = new InfoBubble({
        content: content,

        // CSS equivalents
        borderRadius: 8,
        maxWidth: 500,
        padding: 16,

        // other options
        hideCloseButton: true
      });

      //- var infoWindow = new google.maps.InfoWindow({
      //-   content: content,
      //-   maxWidth: 500
      //- });

      google.maps.event.addListener(map, 'tilesloaded', function() {
        setTimeout(function() {
          infoBubble.open(map, marker);
        }, 500);
      });
    }

    function initDOM (mapdiv) {
      if (wise_guy) {
        mapdiv.classList.add("flip");
      } else {
        mapdiv.classList.add("mirror");
      }

      Mousetrap.bind('up up down down left right left right b a enter',
        function() {
          console.log("spinning... wheeee!");
          document.body.classList.add("spin");
        });
    }

    function initialize() {
      var coordinate = new google.maps.LatLng(
        #{checkin.venue.location.lat + offset_y},
        #{checkin.venue.location.lng + offset_x});
      var mapOptions = {
        center: coordinate,
        zoom: 7,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var mapdiv = document.getElementById("map_canvas");

      initDOM(mapdiv);
      var map = new google.maps.Map(mapdiv, mapOptions);

      var useragent = navigator.userAgent;
      setMarker(coordinate, map);
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;

  script(src="/javascripts/infobubble-compiled.js")

block append styles
  style.
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }

block content
  - if (wise_guy)
    #wise_guy
      .alert.alert-error
        p
          strong Oh snap!
          |  Looks like we've got a wise guy here.
  #map_container
    #map_canvas(style="width: 100%; height: 100%")
